<div class="section-info">
  <b><%= event.eventable.name %></b>
</div>
<div class="section-details">
  <div class="section-details__deal-entity-user">
    <%= event.eventable.user.email %>
  </div>
</div>
