/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.whiteout-ui {
  .card {
    padding: 6px;
    border-color: $status-gray;
    min-height: 4.0rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    background: $white;
  }
}