/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Colors
$navy: #4E6586;
$azure: #0BADFF;
$blue: #4A90E2;
$dark-blue: #1068DD;
$carmine: #E64A6B;
$dark-gray: #808994;
$folder-yellow: #D4CE92;
$crystal: #EEF3F9;
$white: #ffffff;
$light-gray: #fafafa;

// Company Colors
$c-red: #F44336;
$c-orange: #FF9800;
$c-green: #2ADD86;
$c-teal: #009688;
$c-blue: #3AB5ED;
$c-indigo: #651FFF;
$c-purple: #A02FA6;
$c-lblue: #0ACFF2;
$c-lindigo: #78A1D2;
$c-lred: #E79191;
$c-lgreen: #60C984;
$c-lpurple: #7181EE;
$c-pink: #DD1F8F;
$c-dred: #AE0707;
$c-dgreen: #3E8948;
$c-dblue: #26778D;
$c-dindigo: #26459F;
$c-dpurple: #5B1B96;
$c-dpink: #8E3B6D;


// Text Colors
$text-primary: #1E354A;
$text-default: #45484B;
$text-light: #757575;

// Alerts
$error: #BC4852;
$complete: #37A15B;
$warning: #F39E5B;

// Status
$status-peach: #FBE9DB;
$status-green: #E1F1E6;
$status-gray: #D1DAE3;
$status-orange: #F18161;
$status-blue: #BEDCFF;

// Font
$base-font-size: 14;

// Animation
$transition-type: cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-speed-1: 260ms;
$transition-speed-2: 360ms;
$transition-speed-3: 500ms;
