<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Please update your browser to continue</b></h3>
  </div>
  <div class="panel-body browser-warning">
    <div class="browser-warning-header">
      You are currently using an unsupported browser version. Please update your browser to continue to use Doxly. Click on an icon below to download the latest version or ask your IT resource for assistance.
    </div>
    <div class="browser-warning-icons">
      <div><a href="https://www.google.com/chrome/browser/desktop/" target="_blank"><%= image_tag "chrome.png" %></a></div>
      <div><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><%= image_tag "firefox.png" %></a></div>
      <div><a href="https://windows.microsoft.com/ie" target="_blank"><%= image_tag "ie.png" %></a></div>
    </div>
  </div>
</div>