<div class="sign-in-wrapper">
  <div class="wrap-narrow">
    <div class="box-middle">
      <div class="inner">
        <div class="center-logo"><a href="#"><%= image_tag "logo.svg" %></a></div>
        <div class="panel panel-window sign-in center">
          The account with this email address has been disabled. Please contact your account administrator.
        </div>
      </div>
    </div>
  </div>
</div>
