<div id="root" class="react-root" data-turbolinks-permanent>
  <div class="loading-container">
    <div class="loading-box">
      <img src="/assets/loading-spin.svg">
      <div class="text">Loading...</div>
    </div>
  </div>
</div>