<%
  percent ||= 0
  degrees = (360 * percent)/100
%>

<div class="progress-pie-chart <%= 'gt-50' if percent > 50 %>">
  <div class="ppc-progress">
    <div class="ppc-progress-fill" style="transform: rotate(<%= degrees %>deg);"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span class="<%= 'full' if percent == 100 %>"></span>
    </div>
  </div>
</div>
