.safari {

  .flex-grid {
    display: flex;

    .flex-grid-left-box {
      flex: 0 0 48%;
    }
    .flex-grid-doc {
      flex: 0 0 12%;
    }
    .flex-grid-status {
      flex: 0 0 14%;
    }
    .flex-grid-last-change {
      flex: 0 0 8%;
    }
    .flex-grid-details {
      flex: 0 0 18%;
    }
    .flex-grid-review-status {
      flex: 0 0 40%;

      .div {
        width: 136px !important;
      }
    }
  }

}
