<div class="whiteout-ui">
  <div class="notification">
    <div class="notification-message">
      <p>Your account has single sign-on enabled and is managed outside of Doxly. Please contact your IT administrator for help.</p>
    </div>
  </div>
</div>