<%
  @page_wrapper_class ||= "navbar-double"
%>

<%= render 'shared/top_navs/settings' %>

<div class="content">
  <div class="padded-content">
    <div class="container-fluid">
    <% if current_entity.sso_available? %>
      <%= render 'sso_warning' %>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Change Email
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6" id="change-email-form">
              <%= render 'change_email_form' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
