<p>Password Changed<p>

<p>The password on your Doxly account (<%= @resource.email %>) has been changed. Please email support@doxly.com if you did not request this change.</p>

<%= new_user_session_url %>

