$col-tooltip-doxly-bg: rgba($col-dark-blue,.95);
$col-tooltip-doxly-border: darken($col-dark-blue, 10%);


.tooltipster-sidetip.tooltipster-doxly .tooltipster-box {
    border-radius: 3px;
    border: 1px solid $col-tooltip-doxly-border;
    background: $col-tooltip-doxly-bg
}
.tooltipster-sidetip.tooltipster-doxly .tooltipster-content {
    color: transparent;
}
.tooltipster-sidetip.tooltipster-doxly .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-doxly.tooltipster-right .tooltipster-arrow {
    height: 18px;
    margin-left: 0;
    margin-top: -9px;
    width: 9px
}
.tooltipster-sidetip.tooltipster-doxly .tooltipster-arrow-background {
    border: 9px solid transparent
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: $col-tooltip-doxly-bg;
    top: 1px
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-left .tooltipster-arrow-background {
    border-left-color: $col-tooltip-doxly-bg;
    left: -1px
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-right .tooltipster-arrow-background {
    border-right-color: $col-tooltip-doxly-bg;
    left: 1px
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-top .tooltipster-arrow-background {
    border-top-color: $col-tooltip-doxly-bg;
    top: -1px
}
.tooltipster-sidetip.tooltipster-doxly .tooltipster-arrow-border {
    border: 9px solid transparent
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: $col-tooltip-doxly-border
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-left .tooltipster-arrow-border {
    border-left-color: $col-tooltip-doxly-border
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-right .tooltipster-arrow-border {
    border-right-color: $col-tooltip-doxly-border
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-top .tooltipster-arrow-border {
    border-top-color: $col-tooltip-doxly-border
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px
}
.tooltipster-sidetip.tooltipster-doxly.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px
}
