<%
  events ||= nil
  event_type ||= nil
%>
<p>
  <b class="title">Collaborators Invited</b>
  <% events.each do |event| %>
    <p class="sub-list-item">
      <b><%= "#{event.eventable.entity_user.user.first_name} #{event.eventable.entity_user.user.last_name}" %></b> was invited to be a collaborator
    </p>
  <% end %>
</p>
