<%
  events ||= nil
%>
<div>
  <p class="sub-header"><%= events.length %> versions deleted</p>
  <% events.each do |event| %>
    <p class="list-item">
      <%= "#{event.eventable.name} by #{event.entity_user.name}" %>
    </p>
  <% end %>
</div>
