<%
  events ||= nil
%>
<div>
  <p class="sub-header"><%= events.length %> documents uploaded </p>
  <% events.each do |event| %>
    <p class="list-item">
      <%= event.eventable.name %><span class="user-info"><%= " by #{event.entity_user.name}" %></span>
    </p>
  <% end %>
</div>
